

 body {
    background-color: aliceblue;
    text-align: center;
 }

section, aside {
    background-color: #D3D3D3;
    padding: 15px;
    margin:15px;
border-radius: 3% 3%  .5% .5%;
    font-size: 1.2em;
    text-align: center;
    border: 5px inset;
    font-family: 'Prompt', sans-serif;
    display: inline-block;
    
 }


 h1 {
    text-align: center;
    margin: 50px;
    font-family: 'IBM Plex Serif', serif;
    text-decoration:overline;
    color: black;

 }

 h2 {
   margin: 30px;
   text-align: center;
   font-family: 'IBM Plex Serif', serif;
   text-decoration: underline;
 }

h3 {
   margin:30px;
   text-align: center;
   font-family: 'IBM Plex Serif', serif;
   text-decoration: underline;
}

#lower_area {
   margin-top: 40px;
}

img {
   display:block;
   margin: 0 auto;
}

nav {
   background-color:#d4e2eb;
   text-align: center;
   padding: 2px 0;
  border:3px black ridge;
  list-style-type: none;
  font-family: 'Prompt', sans-serif;
  margin: auto;
}

p {
   font-family: 'Prompt', sans-serif;
}

nav ul {
   padding: 2px;
   display: inline-block;
   
}

main section ul {
   list-style-type: none;
   padding: 0%;
}

nav li {
   display: inline-block;
  
}

nav li a {
   display: block;
   color: blue;
   background-color: #B5B5B5;
   width: 300px;
   height: 50px;
   line-height: 50px;
   border-radius: 5%;
   font-size: 1em;
   border: 1.5px black ridge;
   text-decoration:underline;

}

#container {
   font-size: 1em;
}

table {
   margin: auto;
   padding: 10px;
}



nav li a:hover {
   color:azure;
   border: 1.5px white ridge;
}


tr, td {
   border: 2px solid black;
}

.col {

  float:left;
   width: 50%;
}

.col2 {
   float: right;
   width: 50%;
}



@media (min-width: 768px) {

nav li {
   display: inline-block;
}

nav {
   padding: 10px;
   width: 90%;
   text-align: center;
}

nav li a {
   width: 250px;
}

.col {
   float:left;
    width: 50%;
}
 
 .col2 {
    float: right;
    width: 50%;
 }
 
 h1 {
   display: inline-block;
 }
}
